<ngx-monaco-editor class='editor' [options]="editorOptions" [(ngModel)]="text" (onInit)="onInit($event)"></ngx-monaco-editor>
<svg #canvas>
</svg>
<button (click)="updateCanvas()">Process</button>

<div *ngFor="let doc of docs">
  <div *ngFor="let sent of doc">
    <div *ngFor="let word of sent">
      {{sent}}
    </div>

  </div>
</div>