<ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code" (onInit)="onInit($event)"></ngx-monaco-editor>

<button (click)="process()">name</button>

<h1>D3 test</h1>
<div id="fig01">
    <svg width="960" height="600"></svg>
</div>


