.editor-container {
    border: solid;
    border-width: 1px;
    width: 29%;
    height: 95vh;
    display: inline-block;
    vertical-align: top;
  }
.editor {
  height: 80vh;

}
.canvas-container {
  height: 95vh;
  border: solid;
  border-width: 1px;
  width: 70%;
  display: inline-block;
}


.tooltip {
  position: absolute;
  top: 50px;
  right: 50px;

}

body {
  margin: 0px;
  padding: 0px;
}

