<div class="editor-container">
    <ngx-monaco-editor class="editor" [options]="editorOptions" [(ngModel)]="code" (onInit)="onInit($event)"></ngx-monaco-editor>
    <button (click)="updateAll()">Update</button>
</div>
<div class='canvas-container'>
  <app-tree-view [graph]="graph" (selectionChanged)="updateSelection($event)"></app-tree-view>
  <div class="tooltip">
    <div *ngFor="let item of selection">
      {{ item[0] }}: {{ item[1] }}
    </div>
  </div>
</div>
<div>
</div>

